body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.konvajs-content {
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.right-border {
  border-right: 1px solid silver;
}

.right-border + div {
  width: 50%;
}

.top-border {
  border-top: 1px solid silver;
}

.table thead {
  background-color: rgba(0,0,0,.06);
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #b7bddd;
  color: rgba(0,0,0,.44);
}

.table th, .table td {
  border: 1px solid #b7bddd !important;
  position: relative;
  padding: 10px;
}
