body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.konvajs-content {
  margin-left: 15%;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.right-border {
  border-right: 1px solid silver;
}

.border-top {
  border-top: 1px solid silver !important;
  margin-top: -2px;
}

.table thead {
  background-color: rgba(0,0,0,.06);
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #b7bddd;
  color: rgba(0,0,0,.44);
}

.table th, .table td {
  border: 1px solid #b7bddd !important;
  position: relative;
  padding: 10px;
}

.table thead th {
  background: #666;
  color: antiquewhite;
}

.btn-success {
  color: #fff;
  background-color: #266782;
  border-color: #2f717b;
}

.alert {
  margin-bottom: 0;
  line-height: 2;
}

.class-One, .class-Two {
  top: 20%;
  position: absolute;
}

.primary-blued {
  background-color: rgb(29,103, 189);
  color: #fff;
}

.primary-blued:hover {
  background-color: rgb(14, 76, 148);
  color: #fff;
}

.relative {
  position: relative;
}

.realign {
  padding: 4px 5px;
  margin-left: -3px;
}

@media screen and (max-width: 780px) {
  .right-border {
    border: 0 ;
  }
}

@media screen and (max-width: 640px) {
  .compare-btn {
    padding: 5px 10px !important;
    margin-right: 0 !important;
  }
  .form-control {
    padding: 2px !important;
  }
  td {
    padding-right: 5px !important;
  }
}
